<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>地址信息列表</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 手机号输入 -->
  <div class="addressList">

    <ion-grid class="defaultAddress"  *ngFor="let item of addressList">
      <h5 class="subTitle">默认地址</h5>
      <div *ngIf="item.isDefault == 1">
        <ion-card>
          <ion-card-content>
            <p class="phoneNum">{{item.phone}}</p>
            <p class="addressDetail">创建于:{{item.createTime}}</p>
            <p class="addressDetail">{{item.address}}</p>
          </ion-card-content>
        </ion-card>
        <div class="checkWrapper">
            <span class="defualt" *ngIf="true" (click)="goToAddressControlPage()">添加地址</span>
            <span class="del" (click)="delAddress(item.id)">删除</span>
            <span class="add" (click)="goToAddressControlPage()">修改</span>
          </div>
      </div>
    </ion-grid>
    
    <ion-grid *ngFor="let item of addressList">
      <div *ngIf="item.isDefault == 0">
        <ion-card>
          <ion-card-content>
            <p class="phoneNum">{{item.phone}}</p>
            <p class="addressDetail">创建于:{{item.createTime}}</p>
            <p class="addressDetail">{{item.address}}</p>
          </ion-card-content>
        </ion-card>
        <div class="checkWrapper">
          <span class="defualt">设置为默认地址</span>
          <span class="del" (click)="delAddress(item.id)">删除</span>
          <span class="add">修改</span>
        </div>
      </div>
    </ion-grid>

  </div>
</ion-content>