page-userdetail {
    .serviceStates{
        margin: 0 0 10px 0;
        padding: 0 15px;
        font-size: 16px;
        // text-align: right;
    }
    .state{
        .icon{
            text-align: center;
            font-size: 24px;
            display: block;
        }
        p{
            text-align: center;
            margin: 5px 0 0 0;
        }
    }
}