<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>我</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- 用户信息 -->
  <ion-card class="user_info">
    <ion-item (click)="goToUserInfoService()">
      <ion-avatar item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
      </ion-avatar>
      <h2>{{nickName != ""? nickName: userId }}
        <span class="user_info_level">{{"Lv" + level}}</span>
      </h2>
      <p>{{"注册时间:" + createTime}}</p>
    </ion-item>
  </ion-card>

  <!-- 请求单 -->
  <ion-card>
    <ion-list class="serviceStates">
      <button ion-item>
        {{ "全部请求单" }}
      </button>
    </ion-list>
    <ion-list>
      <ion-row>
        <ion-col class="state" *ngFor="let item of serviceStates">
          <ion-icon name="ionic" color="primary"></ion-icon>
          <p>{{item.name}}</p>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>

  <!-- 服务单 -->
  <ion-card>
    <ion-list class="serviceStates">
      <button ion-item>
        {{ "全部服务单" }}
      </button>
    </ion-list>
    <ion-list>
      <ion-row>
        <ion-col class="state" *ngFor="let item of serviceStates">
          <ion-icon name="ionic" color="primary"></ion-icon>
          <p>{{item.name}}</p>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>

  <!-- 服务列表 -->
  <ion-card>
    <ion-list>
      <button ion-item *ngFor="let item of serviceLists" (click)="goTo(item)">
        {{ item.name }}
      </button>
    </ion-list>
  </ion-card>

  <div class="login-buttons">
    <button ion-button icon-right color="royal" (click)="logOut()">退出登录</button>
  </div>
  
</ion-content>
