<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>修改签名</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 手机号输入 -->
  <div class="register">
    <ion-list>
      <ion-item>
        <ion-label stacked>修改签名:</ion-label>
        <ion-input type="text" placeholder="签名" [(ngModel)]="autograph"></ion-input>
      </ion-item>
    </ion-list>
    <ion-label class="errMsg">
      {{errMsg}}
    </ion-label>
    <div class="login-buttons">
      <button ion-button icon-right color="royal" (click)="changeAutoGraph()">确认</button>
    </div>
  </div>
</ion-content>