
.login-content{
  display: table;
  width: 100%;
  height: 100%;
  .login-body{
    display: table-cell;
    vertical-align: middle;
  }
}
.inputName {
  width: 5rem;
}

.login-logo {
  width: calc(100% - 24px);;
  height: 80px;
  margin: 12px;
  margin-bottom: 10px;
  background: black;
  //max-height: 150px;
}

.login-buttons {
  button {
    width: 100%;
  }
}

.otherService {

  width: 28.2rem;
  margin: 0 auto;
  .goToRegister {
    float: left;
  }
  .resetPw {
    float: right;
    margin-right: 0;
  }
}

//.goToRegister{
//  float: left;
//}
//.resetPw{
//  float: right;
//}