<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>搜索</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<ion-searchbar 
    (ionInput)="getItems($event)" 
    [(ngModel)]="title"></ion-searchbar>
    <!-- <ion-list></ion-list> -->
    <div class="hot" *ngIf="list.length == 0">
    	<!-- <section class="hot-list">
    		<h3>热门搜索</h3>
    		<ul>
    			<li>测试</li>
    			<li>测试</li>
    			<li>测试</li>
    		</ul>
    	</section> -->
    	<section class="history-list" *ngIf="history.length">
    		<h3>搜索历史</h3>
    		<ul>
    			<li *ngFor="let key of history;let i = index">
    				<span (click)="handleClickKeyWord(key)">{{key}}</span>
    				<ion-icon name="close" (click)="deleteHistoryByKey(i)"></ion-icon>
    			</li>
    		</ul>
    	</section>
    </div>
    <!-- <com-service-item [list]="list"></com-service-item> -->
    <com-service-item *ngIf="list.length" [list]="list" [map]="map" [isService]="isService"></com-service-item>
</ion-content>
