.register {
    margin: 20px 0 0 0;
    .inputName {
        // text-align: center;
        letter-spacing: 5px;
        width: 8rem;
    }
    & > .list-ios {
      margin: 0;
      & > .item-block{
        border-top: none;
      }
        // margin: 0;
        // &:last-child {
        //     margin: -1px 0 32px;
        //     .item-block {
        //         border-bottom: none;
        //     }
        // }
    }
    .errMsg{
      padding: 0 16px;
      margin-bottom: 0;
      color: #FF3300;
    }
    .login-buttons{
      padding: 10px 16px 0px 16px;
      &:last-child{
        padding: 5px 16px 16px 16px;
        // padding-bottom: 16px;
      }
    }
}