<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>请求单管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 手机号输入 -->
  <div class="probiderList">
    <ion-grid>
      <button ion-button icon-right color="royal" (click)="goToAddServiceForRequisitionPage()">添加请求单</button>
    </ion-grid>
    <ion-grid>
      <ion-card *ngFor="let item of RequisitionList">
        <ion-card-content>
          <p class="subTitle">{{item.title}}</p>
          <p class="price">{{item.price == 0? "free": "￥"+item.price}}</p>
          <p class="status">{{status[item.status]}}</p>
          <p class="address">{{item.address.address}}</p>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>
