
.amap{
	width: 100%;
	height: 100%;
}
.search-input{
	&>*{
		font-size: 14px;
	}
	.toolbar-title{
		border: 1px solid #999;
		background-color: #FFF;
		input{
			margin-bottom: 6px;
			margin-top: 6px;
			padding: 0 5px;
		}
	}
	
}