<ion-list class="message-list">
    <ion-item (click)="open()">
        <ion-avatar item-start>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
        </ion-avatar>
	    <h2>Woody</h2>
	    <p>This town ain't big enough for the two of us!</p>
	    <ion-note item-end>3:43 pm</ion-note>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
        </ion-avatar>
	    <h2>Woody</h2>
	    <p>This town ain't big enough for the two of us!</p>
	    <ion-note item-end>3:43 pm</ion-note>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
        </ion-avatar>
	    <h2>Woody</h2>
	    <p>This town ain't big enough for the two of us!</p>
	    <ion-note item-end>3:43 pm</ion-note>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
        </ion-avatar>
	    <h2>Woody</h2>
	    <p>This town ain't big enough for the two of us!</p>
	    <ion-note item-end>3:43 pm</ion-note>
    </ion-item>
</ion-list>