<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>服务单管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 手机号输入 -->
  <div class="probiderList">

    <ion-grid>
      <button ion-button icon-right color="royal" (click)="goToAddServiceForProviderPage ()">添加服务单</button>
    </ion-grid>
    <ion-grid>
      <ion-card>
        <ion-card-content>
          <p class="phoneNum">13770673044</p>
          <p class="addressDetail">南京市北京市上海市</p>
        </ion-card-content>
      </ion-card>
    </ion-grid>

  </div>
</ion-content>
