<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>修改密码</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <!-- 手机号输入 -->
  <div class="register">
    <ion-list>
      <ion-item>
        <ion-label stacked>手机号码:</ion-label>
        <ion-input type="text" placeholder="手机号码" [(ngModel)]="phoneNum"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label stacked>短信验证码:</ion-label>
        <ion-input type="text" placeholder="短信验证码" [(ngModel)]="smsCode"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label stacked>原密码:</ion-label>
        <ion-input type="text" placeholder="原密码" [(ngModel)]="oldPass"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label stacked>新密码:</ion-label>
        <ion-input type="text" placeholder="新密码" [(ngModel)]="newPass"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label stacked>确认新密码:</ion-label>
        <ion-input type="text" placeholder="确认新密码" [(ngModel)]="newPassCheck"></ion-input>
      </ion-item>
    </ion-list>
    <ion-label class="errMsg">
      {{errorMsg}}
    </ion-label>
    <div class="login-buttons">
      <button ion-button icon-right color="royal" (click)="getSmsCode()">获取短信验证码</button>
    </div>
    <div class="login-buttons">
      <button ion-button icon-right color="royal" (click)="changePass()">确认</button>
    </div>
  </div>

</ion-content>