.message-content{
	.history-list{
		.item-inner{
			border-bottom: none !important;
		}
		padding: 0;
		margin: 0;
		list-style: none;
		.avatar{
			max-height: 50px;
			max-width: 50px;
			margin: 12px 0;
			img{
				max-height: 50px;
			    max-width: 50px;
			    border-radius: 50%;
                overflow: hidden;
			}
		}
		.mess-content{
			// 
		}
		li{
			display: flex;
			padding: 0 16px;
			position: relative;
			&:before{
				/* position: absolute;
				// bottom: 100% ;
				top: -6px;
				left: 50%;
				transform: translateX(-50%);
				display: block;
				content: attr(data-time);
				padding: 2px 4px;
				line-height: 1;
				border-radius: 2px;
				background-color: #999999;
				color: #FFFFFF;
				font-size: 12px;
				vertical-align: bottom; */

			}
			&.time-show{
				// padding-top: 30px;
			}
			&.self{
				justify-content: flex-start;

			}
			&.friend{
				justify-content: flex-end;
			}
		}
		ion-item{
			display: flex;
			&:last-child{
				border-bottom: none !important;
			}
		}

	}
}
.mess-footer{
	border-top: 1px solid #e5e5e5;
	.mess-input{
		align-items: flex-end ;
		&>*{
			line-height: 1;
		}
		display: flex;
		width: 100%;
		ion-col{
			padding: 0;
			margin: 0;
		}
		.send-btn{
			button{
				line-height: 1.2;
				margin: 0;
				font-size: 12px;
				padding: 8px 5px;
				height: auto !important;
			}
		}
		.send-content{
			margin-right: 6px;
			padding: 8px 5px;
			// overflow-y: scroll;
			border-bottom: 1px solid #ADFF2F;
			flex: 1;
			p{
				max-height: 44px;
			    overflow-y: scroll;
				margin: 0 ;
				line-height: 1.2;

			}
		}
	}
}
