<ion-header>
    <ion-navbar>
	    <button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    <ion-title>{{friend.nickName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="message-content">
	<!-- <ion-list class="history-list">
		<ion-item class="self">
	        <ion-avatar  class="avatar">
	            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
	        </ion-avatar>
		    <ion-card class="mess-content item-inner">
		    	<ion-card-content>https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png</ion-card-content>
		    </ion-card>
	    </ion-item>
	</ion-list> -->
	<ul class="history-list">
		<li *ngFor="let it of list" class="{{it.isOwn ? 'self':'friend'}}">
			<!--不要问我为什么-->
			<ion-avatar class="avatar" *ngIf="!it.isOwn">
	            <img [src]="it.faceUrl">
	        </ion-avatar>
	        <ion-card>
			    <ion-card-content>{{it.message}}</ion-card-content>
			</ion-card>
			<ion-avatar class="avatar" *ngIf="it.isOwn">
	            <img [src]="it.faceUrl">
	        </ion-avatar>
		</li>
		<!-- <li class="friend time-show" data-time="">
	        <ion-card>
			    <ion-card-content>
			    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
			    </ion-card-content>
			</ion-card>
			<ion-avatar  class="avatar" item-start>
	            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
	        </ion-avatar>
		</li> -->
	</ul>
</ion-content>
<ion-footer class="mess-footer">
	<ion-grid>
		<ion-row class="mess-input">
			<ion-col class="send-content">
				<p contenteditable="true" id="content"></p>
        <!-- <textarea id="content"></textarea> -->
			</ion-col>
			<ion-col class="send-btn" col-auto>
				<button ion-button (click)="send()">发送</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
