<ion-card class="user-card" *ngFor="let user of list">
	<ion-card-content class="user-content" >
		<div class="user-detail">
			<img src="//ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
			<div class="user-sub">
				<div class="user-top">
					<span>{{user.name}}</span>
				    <span class="leval">{{user.level}}</span>
				</div>
				<div class="user-btm">测试测试</div>
			</div>
		</div>
    <div class="user-contrl" *ngIf="judge">
      <div>同意</div>
      <div>拒绝</div>
    </div>
    <div class="statusMsg" *ngIf="msgStatus">{{msg}}</div>
		<ion-icon name="chatbubbles" (click)="openMessCtrl(user)"></ion-icon>
	</ion-card-content>
</ion-card>
