<ion-list>
    <ion-item *ngFor="let it of list">
	    <ion-avatar item-start>
	        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
	        <p class="price-txt">$200-400</p>
	    </ion-avatar>
	    <h2>Finn</h2>
	    <div class="sub-txt">
	    	<ion-icon name="locate"></ion-icon>
	    	<span>德基广场</span>
	    	<span class="dis">距离600米</span>
	    </div>
	    <ul class="label">
	    	<li>测试</li>
	    	<li>测试</li>
	    	<li>测试</li>
	    	<li>测试</li>
	    	<li>测试</li>
	    </ul>
    </ion-item>
</ion-list>
