<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>收藏</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-toolbar no-border-top class="options">
    <ion-segment [(ngModel)]="option">
      <ion-segment-button value="服务单" class="option">
        服务单
      </ion-segment-button>
      <ion-segment-button value="请求单" class="option">
        请求单
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-content>
